# HMDB Standalone "Pending" API (Association-Centric)  for
[Data Assignment](https://github.com/biothings/mygene.info/issues/110)  
[Data Download](https://hmdb.ca/downloads)

In [51]:
import pandas as pd 
from IPython.display import display
import os, gzip

In [52]:
# set folder path
protein_zipfolder = os.path.join("c:\\Users\\19802\\Documents\\dev\scripps\\BioThings_SuLab\\data\\hmdb_proteins.xml")

# we're reading an XML
df=pd.read_xml(protein_zipfolder)

In [53]:
df.head()

,version,creation_date,update_date,accession,secondary_accessions,protein_type,synonyms,gene_name,general_function,specific_function,...,genbank_protein_id,uniprot_id,uniprot_name,pdb_ids,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id,general_references,metabolite_references
0,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00001,NaN,Unknown,NaN,NT5E,Involved in hydrolase activity,Hydrolyzes extracellular nucleotides into memb...,...,23897.0,P21589,5NTD_HUMAN,NaN,X55740,NT5E,NT5E,HGNC:8021,NaN,NaN
1,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:30:53 UTC,HMDBP00002,NaN,Unknown,NaN,DCTD,Involved in zinc ion binding,Supplies the nucleotide substrate for thymidyl...,...,61742819.0,P32321,DCTD_HUMAN,NaN,NM_001921.2,DCTD,DCTD,HGNC:2710,NaN,NaN
2,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:31:24 UTC,HMDBP00003,NaN,Unknown,NaN,CMPK1,Involved in ATP binding,Catalyzes specific phosphoryl transfer from AT...,...,33150592.0,P30085,KCY_HUMAN,NaN,AF087865,CMPK1,CMPK1,HGNC:18170,NaN,NaN
3,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00004,NaN,Unknown,NaN,NT5C1B,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,...,50593110.0,Q96P26,5NT1B_HUMAN,NaN,NM_001002006.2,NT5C1B,NT5C1B,HGNC:17818,NaN,NaN
4,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00005,NaN,Unknown,NaN,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,...,12659324.0,Q9BXI3,5NT1A_HUMAN,NaN,AF331801,NT5C1A,NT5C1A,HGNC:17819,NaN,NaN

## Data Prep

In [54]:
df.columns.values

array(['version', 'creation_date', 'update_date', 'accession',
       'secondary_accessions', 'protein_type', 'synonyms', 'gene_name',
       'general_function', 'specific_function', 'pathways',
       'metabolite_associations', 'go_classifications',
       'subcellular_locations', 'gene_properties', 'protein_properties',
       'genbank_protein_id', 'uniprot_id', 'uniprot_name', 'pdb_ids',
       'genbank_gene_id', 'genecard_id', 'geneatlas_id', 'hgnc_id',
       'general_references', 'metabolite_references'], dtype=object)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5702 entries, 0 to 5701
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   version                  5702 non-null   float64
 1   creation_date            5702 non-null   object
 2   update_date              5702 non-null   object
 3   accession                5702 non-null   object
 4   secondary_accessions     0 non-null      float64
 5   protein_type             5702 non-null   object
 6   synonyms                 0 non-null      float64
 7   gene_name                5623 non-null   object
 8   general_function         5175 non-null   object
 9   specific_function        5059 non-null   object
 10  pathways                 0 non-null      float64
 11  metabolite_associations  0 non-null      float64
 12  go_classifications       0 non-null      float64
 13  subcellular_locations    0 non-null      float64
 14  gene_properties          0 non-null      float64
 15  protein_properties       0 non-null      float64
 16  genbank_protein_id       4616 non-null   float64
 17  uniprot_id               5702 non-null   object
 18  uniprot_name             5249 non-null   object
 19  pdb_ids                  0 non-null      float64
 20  genbank_gene_id          5163 non-null   object
 21  genecard_id              5175 non-null   object
 22  geneatlas_id             5019 non-null   object
 23  hgnc_id                  5557 non-null   object
 24  general_references       0 non-null      float64
 25  metabolite_references    0 non-null      float64
dtypes: float64(13), object(13)
memory usage: 1.1+ MB

In [56]:
df.describe()

,version,secondary_accessions,synonyms,pathways,metabolite_associations,go_classifications,subcellular_locations,gene_properties,protein_properties,genbank_protein_id,pdb_ids,general_references,metabolite_references
count,5702.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.616000e+03,0.0,0.0,0.0
mean,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.516281e+07,NaN,NaN,NaN
std,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.902836e+07,NaN,NaN,NaN
min,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.258400e+04,NaN,NaN,NaN
25%,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.489670e+06,NaN,NaN,NaN
50%,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.174939e+07,NaN,NaN,NaN
75%,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.127987e+07,NaN,NaN,NaN
max,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.124340e+08,NaN,NaN,NaN

In [57]:
df.describe(include=object)

,creation_date,update_date,accession,protein_type,gene_name,general_function,specific_function,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
count,5702,5702,5702,5702,5623,5175,5059,5702,5249,5163,5175,5019,5557
unique,2745,238,5702,3,5459,675,4280,5702,5248,5118,5021,4873,5313
top,2013-01-16 03:19:53 UTC,2017-12-08 07:10:31 UTC,HMDBP00001,Unknown,NAT2,Involved in catalytic activity,Potential calcium-dependent cell-adhesion prot...,P21589,ST1A3_HUMAN,J01415,NAT2,NAT2,HGNC:7646
freq,8,114,1,3685,29,298,53,1,2,7,29,29,34

**What columns are full of all `null` values**?

In [58]:
# get columns with all null values
null_cols= list(df.loc[:, df.isna().all()].columns.values)
df.loc[:, df.isna().all()]

,secondary_accessions,synonyms,pathways,metabolite_associations,go_classifications,subcellular_locations,gene_properties,protein_properties,pdb_ids,general_references,metabolite_references
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
print(len(null_cols))
display(null_cols)

11

['secondary_accessions',
 'synonyms',
 'pathways',
 'metabolite_associations',
 'go_classifications',
 'subcellular_locations',
 'gene_properties',
 'protein_properties',
 'pdb_ids',
 'general_references',
 'metabolite_references']

**What columns contain ``null`` values?**

In [59]:
# get columns with any null values
null_cols_ = list(df.loc[:, df.isna().any()].columns.values)
df.loc[:, df.isna().any()]

,secondary_accessions,synonyms,gene_name,general_function,specific_function,pathways,metabolite_associations,go_classifications,subcellular_locations,gene_properties,protein_properties,genbank_protein_id,uniprot_name,pdb_ids,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id,general_references,metabolite_references
0,NaN,NaN,NT5E,Involved in hydrolase activity,Hydrolyzes extracellular nucleotides into memb...,NaN,NaN,NaN,NaN,NaN,NaN,23897.0,5NTD_HUMAN,NaN,X55740,NT5E,NT5E,HGNC:8021,NaN,NaN
1,NaN,NaN,DCTD,Involved in zinc ion binding,Supplies the nucleotide substrate for thymidyl...,NaN,NaN,NaN,NaN,NaN,NaN,61742819.0,DCTD_HUMAN,NaN,NM_001921.2,DCTD,DCTD,HGNC:2710,NaN,NaN
2,NaN,NaN,CMPK1,Involved in ATP binding,Catalyzes specific phosphoryl transfer from AT...,NaN,NaN,NaN,NaN,NaN,NaN,33150592.0,KCY_HUMAN,NaN,AF087865,CMPK1,CMPK1,HGNC:18170,NaN,NaN
3,NaN,NaN,NT5C1B,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,NaN,NaN,NaN,NaN,NaN,NaN,50593110.0,5NT1B_HUMAN,NaN,NM_001002006.2,NT5C1B,NT5C1B,HGNC:17818,NaN,NaN
4,NaN,NaN,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,NaN,NaN,NaN,NaN,NaN,NaN,12659324.0,5NT1A_HUMAN,NaN,AF331801,NT5C1A,NT5C1A,HGNC:17819,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5697,NaN,NaN,CHRNA6,Involved in acetylcholine receptor activity,"After binding acetylcholine, the AChR responds...",NaN,NaN,NaN,NaN,NaN,NaN,1458118.0,ACHA6_HUMAN,NaN,U62435,CHRNA6,None,GNC:15963,NaN,NaN
5698,NaN,NaN,HTR3D,Involved in transmembrane transport,This is one of the several different receptors...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5HT3D_HUMAN,NaN,None,None,None,None,NaN,NaN
5699,NaN,NaN,HTR3C,Involved in transmembrane transport,This is one of the several different receptors...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5HT3C_HUMAN,NaN,None,None,None,None,NaN,NaN
5700,NaN,NaN,HTR3E,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5HT3E_HUMAN,NaN,None,None,None,None,NaN,NaN
5701,NaN,NaN,SULT1A3,sulfotransferase activity,Sulfotransferase that utilizes 3'-phospho-5'-a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST1A3_HUMAN,NaN,None,None,None,HGNC:11455,NaN,NaN

In [61]:
print(len(null_cols_))
display(null_cols_)

20

['secondary_accessions',
 'synonyms',
 'gene_name',
 'general_function',
 'specific_function',
 'pathways',
 'metabolite_associations',
 'go_classifications',
 'subcellular_locations',
 'gene_properties',
 'protein_properties',
 'genbank_protein_id',
 'uniprot_name',
 'pdb_ids',
 'genbank_gene_id',
 'genecard_id',
 'geneatlas_id',
 'hgnc_id',
 'general_references',
 'metabolite_references']

In [69]:
data=df.drop(null_cols,axis=1) # remove the null cols

In [71]:
data.head()

,version,creation_date,update_date,accession,protein_type,gene_name,general_function,specific_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
0,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00001,Unknown,NT5E,Involved in hydrolase activity,Hydrolyzes extracellular nucleotides into memb...,23897.0,P21589,5NTD_HUMAN,X55740,NT5E,NT5E,HGNC:8021
1,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:30:53 UTC,HMDBP00002,Unknown,DCTD,Involved in zinc ion binding,Supplies the nucleotide substrate for thymidyl...,61742819.0,P32321,DCTD_HUMAN,NM_001921.2,DCTD,DCTD,HGNC:2710
2,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:31:24 UTC,HMDBP00003,Unknown,CMPK1,Involved in ATP binding,Catalyzes specific phosphoryl transfer from AT...,33150592.0,P30085,KCY_HUMAN,AF087865,CMPK1,CMPK1,HGNC:18170
3,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00004,Unknown,NT5C1B,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,50593110.0,Q96P26,5NT1B_HUMAN,NM_001002006.2,NT5C1B,NT5C1B,HGNC:17818
4,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00005,Unknown,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,12659324.0,Q9BXI3,5NT1A_HUMAN,AF331801,NT5C1A,NT5C1A,HGNC:17819

In [72]:
data.columns

Index(['version', 'creation_date', 'update_date', 'accession', 'protein_type',
       'gene_name', 'general_function', 'specific_function',
       'genbank_protein_id', 'uniprot_id', 'uniprot_name', 'genbank_gene_id',
       'genecard_id', 'geneatlas_id', 'hgnc_id'],
      dtype='object')

## Associations  
`subject/object/predicate`

In [80]:
# looks at id column
data[['gene_name', 'general_function', 'specific_function', 
      'genbank_protein_id', 'uniprot_id', 'uniprot_name', 'genbank_gene_id']]
      ## 'genecard_id', 'geneatlas_id', 'hgnc_id']]

,gene_name,general_function,specific_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id
0,NT5E,Involved in hydrolase activity,Hydrolyzes extracellular nucleotides into memb...,23897.0,P21589,5NTD_HUMAN,X55740
1,DCTD,Involved in zinc ion binding,Supplies the nucleotide substrate for thymidyl...,61742819.0,P32321,DCTD_HUMAN,NM_001921.2
2,CMPK1,Involved in ATP binding,Catalyzes specific phosphoryl transfer from AT...,33150592.0,P30085,KCY_HUMAN,AF087865
3,NT5C1B,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,50593110.0,Q96P26,5NT1B_HUMAN,NM_001002006.2
4,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,12659324.0,Q9BXI3,5NT1A_HUMAN,AF331801
...,...,...,...,...,...,...,...
5697,CHRNA6,Involved in acetylcholine receptor activity,"After binding acetylcholine, the AChR responds...",1458118.0,Q15825,ACHA6_HUMAN,U62435
5698,HTR3D,Involved in transmembrane transport,This is one of the several different receptors...,NaN,Q70Z44,5HT3D_HUMAN,None
5699,HTR3C,Involved in transmembrane transport,This is one of the several different receptors...,NaN,Q8WXA8,5HT3C_HUMAN,None
5700,HTR3E,None,None,NaN,A5X5Y0,5HT3E_HUMAN,None
5701,SULT1A3,sulfotransferase activity,Sulfotransferase that utilizes 3'-phospho-5'-a...,NaN,P0DMM9,ST1A3_HUMAN,None

In [81]:
from biothings_client import get_client
gene_client = get_client('gene') 
type(gene_client)

biothings_client.MyGeneInfo

In [ ]:
# Build Parser 
def load_orthology(data, data_list):
    results = {}

    for rec in data_ortho_agr[:4]:
        orig_id1= rec["Gene1ID"].split(':')
        id1_tag2=orig_id1[1]
        _id = id1_tag2
        rec = dict_convert(rec,keyfn=process_key)
        # remove NaN values, not indexable
        rec = dict_sweep(rec,vals=[np.nan])
        results.setdefault(_id,[]).append(rec)
        #print(rec)
    for _id,docs in results.items():
        doc = {"_id": _id, "orthology_data" : docs}
        yield doc
    
    #return results;

In [ ]:
def load_testcase():
    results=load_orthology(orthoAGR, data_ortho_agr)
    #print(results)
    print(next(results))
load_testcase()