# HMDB Standalone "Pending" API (Association-Centric)  for
[Data Assignment](https://github.com/biothings/mygene.info/issues/110)  
[Data Download](https://hmdb.ca/downloads)

In [34]:
import pandas as pd 
import numpy as np
from IPython.display import display
from biothings.utils.dataload import dict_convert, dict_sweep
import os

In [2]:
# set folder path
protein_zipfolder = os.path.join("c:\\Users\\19802\\Documents\\dev\scripps\\BioThings_SuLab\\data\\hmdb_proteins.xml")

# we're reading an XML
df=pd.read_xml(protein_zipfolder)

In [119]:
import xml.etree.ElementTree as ET
# --- Upload XML Data (workaround for pandas >1.3, need to upgrade Biothings) --- 
xml_data = open(protein_zipfolder, 'r', encoding='UTF-8').read()  # Read file
root = ET.XML(xml_data)  # Parse XML
data = []
cols = []
for i, child in enumerate(root):
    data.append([subchild.text for subchild in child])
    cols.append(child.tag)

In [120]:
# --- Load Data into Pandas ---
df = pd.DataFrame(data).T  # Write in DF and transpose it
#df.columns = cols  # Update column names
df=df.T
df.columns=['version', 'creation_date', 'update_date', 'accession',
       'secondary_accessions', 'protein_type', 'synonyms', 'gene_name',
       'general_function', 'specific_function', 'pathways',
       'metabolite_associations', 'go_classifications',
       'subcellular_locations', 'gene_properties', 'protein_properties',
       'genbank_protein_id', 'uniprot_id', 'uniprot_name', 'pdb_ids',
       'genbank_gene_id', 'genecard_id', 'geneatlas_id', 'hgnc_id',
       'general_references', 'metabolite_references']

df=df.replace('\\n',np.NaN, regex=True)
df.head()

,version,creation_date,update_date,accession,secondary_accessions,protein_type,synonyms,gene_name,general_function,specific_function,...,genbank_protein_id,uniprot_id,uniprot_name,pdb_ids,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id,general_references,metabolite_references
0,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00001,NaN,Unknown,NaN,NT5E,Involved in hydrolase activity,NaN,...,23897,P21589,5NTD_HUMAN,NaN,X55740,NT5E,NT5E,HGNC:8021,NaN,NaN
1,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:30:53 UTC,HMDBP00002,NaN,Unknown,NaN,DCTD,Involved in zinc ion binding,NaN,...,61742819,P32321,DCTD_HUMAN,NaN,NM_001921.2,DCTD,DCTD,HGNC:2710,NaN,NaN
2,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:31:24 UTC,HMDBP00003,NaN,Unknown,NaN,CMPK1,Involved in ATP binding,NaN,...,33150592,P30085,KCY_HUMAN,NaN,AF087865,CMPK1,CMPK1,HGNC:18170,NaN,NaN
3,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00004,NaN,Unknown,NaN,NT5C1B,Involved in nucleotide binding,NaN,...,50593110,Q96P26,5NT1B_HUMAN,NaN,NM_001002006.2,NT5C1B,NT5C1B,HGNC:17818,NaN,NaN
4,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00005,NaN,Unknown,NaN,NT5C1A,Involved in nucleotide binding,NaN,...,12659324,Q9BXI3,5NT1A_HUMAN,NaN,AF331801,NT5C1A,NT5C1A,HGNC:17819,NaN,NaN

In [5]:
df.head()

,version,creation_date,update_date,accession,secondary_accessions,protein_type,synonyms,gene_name,general_function,specific_function,...,genbank_protein_id,uniprot_id,uniprot_name,pdb_ids,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id,general_references,metabolite_references
0,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00001,NaN,Unknown,NaN,NT5E,Involved in hydrolase activity,Hydrolyzes extracellular nucleotides into memb...,...,23897.0,P21589,5NTD_HUMAN,NaN,X55740,NT5E,NT5E,HGNC:8021,NaN,NaN
1,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:30:53 UTC,HMDBP00002,NaN,Unknown,NaN,DCTD,Involved in zinc ion binding,Supplies the nucleotide substrate for thymidyl...,...,61742819.0,P32321,DCTD_HUMAN,NaN,NM_001921.2,DCTD,DCTD,HGNC:2710,NaN,NaN
2,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:31:24 UTC,HMDBP00003,NaN,Unknown,NaN,CMPK1,Involved in ATP binding,Catalyzes specific phosphoryl transfer from AT...,...,33150592.0,P30085,KCY_HUMAN,NaN,AF087865,CMPK1,CMPK1,HGNC:18170,NaN,NaN
3,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00004,NaN,Unknown,NaN,NT5C1B,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,...,50593110.0,Q96P26,5NT1B_HUMAN,NaN,NM_001002006.2,NT5C1B,NT5C1B,HGNC:17818,NaN,NaN
4,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00005,NaN,Unknown,NaN,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,...,12659324.0,Q9BXI3,5NT1A_HUMAN,NaN,AF331801,NT5C1A,NT5C1A,HGNC:17819,NaN,NaN

## Data Prep

In [6]:
df.columns.values

array(['version', 'creation_date', 'update_date', 'accession',
       'secondary_accessions', 'protein_type', 'synonyms', 'gene_name',
       'general_function', 'specific_function', 'pathways',
       'metabolite_associations', 'go_classifications',
       'subcellular_locations', 'gene_properties', 'protein_properties',
       'genbank_protein_id', 'uniprot_id', 'uniprot_name', 'pdb_ids',
       'genbank_gene_id', 'genecard_id', 'geneatlas_id', 'hgnc_id',
       'general_references', 'metabolite_references'], dtype=object)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5702 entries, 0 to 5701
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   version                  5702 non-null   float64
 1   creation_date            5702 non-null   object
 2   update_date              5702 non-null   object
 3   accession                5702 non-null   object
 4   secondary_accessions     0 non-null      float64
 5   protein_type             5702 non-null   object
 6   synonyms                 0 non-null      float64
 7   gene_name                5623 non-null   object
 8   general_function         5175 non-null   object
 9   specific_function        5059 non-null   object
 10  pathways                 0 non-null      float64
 11  metabolite_associations  0 non-null      float64
 12  go_classifications       0 non-null      float64
 13  subcellular_locations    0 non-null      float64
 14  gene_properties          0 non-null      float64
 15  protein_properties       0 non-null      float64
 16  genbank_protein_id       4616 non-null   float64
 17  uniprot_id               5702 non-null   object
 18  uniprot_name             5249 non-null   object
 19  pdb_ids                  0 non-null      float64
 20  genbank_gene_id          5163 non-null   object
 21  genecard_id              5175 non-null   object
 22  geneatlas_id             5019 non-null   object
 23  hgnc_id                  5557 non-null   object
 24  general_references       0 non-null      float64
 25  metabolite_references    0 non-null      float64
dtypes: float64(13), object(13)
memory usage: 1.1+ MB

In [8]:
df.describe()

,version,secondary_accessions,synonyms,pathways,metabolite_associations,go_classifications,subcellular_locations,gene_properties,protein_properties,genbank_protein_id,pdb_ids,general_references,metabolite_references
count,5702.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.616000e+03,0.0,0.0,0.0
mean,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.516281e+07,NaN,NaN,NaN
std,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.902836e+07,NaN,NaN,NaN
min,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.258400e+04,NaN,NaN,NaN
25%,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.489670e+06,NaN,NaN,NaN
50%,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.174939e+07,NaN,NaN,NaN
75%,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.127987e+07,NaN,NaN,NaN
max,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.124340e+08,NaN,NaN,NaN

In [9]:
df.describe(include=object)

,creation_date,update_date,accession,protein_type,gene_name,general_function,specific_function,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
count,5702,5702,5702,5702,5623,5175,5059,5702,5249,5163,5175,5019,5557
unique,2745,238,5702,3,5459,675,4280,5702,5248,5118,5021,4873,5313
top,2013-01-16 03:19:53 UTC,2017-12-08 07:10:31 UTC,HMDBP00001,Unknown,NAT2,Involved in catalytic activity,Potential calcium-dependent cell-adhesion prot...,P21589,ST1A3_HUMAN,J01415,NAT2,NAT2,HGNC:7646
freq,8,114,1,3685,29,298,53,1,2,7,29,29,34

**What columns are full of all `null` values**?

In [121]:
# get columns with all null values
null_cols= list(df.loc[:, df.isna().all()].columns.values)
df.loc[:, df.isna().all()]

,secondary_accessions,synonyms,pathways,metabolite_associations,go_classifications,subcellular_locations,gene_properties,protein_properties,pdb_ids,general_references,metabolite_references
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(len(null_cols))
display(null_cols)

11

['secondary_accessions',
 'synonyms',
 'pathways',
 'metabolite_associations',
 'go_classifications',
 'subcellular_locations',
 'gene_properties',
 'protein_properties',
 'pdb_ids',
 'general_references',
 'metabolite_references']

**What columns contain ``null`` values?**

In [12]:
# get columns with any null values
null_cols_ = list(df.loc[:, df.isna().any()].columns.values)
df.loc[:, df.isna().any()]

,secondary_accessions,synonyms,gene_name,general_function,specific_function,pathways,metabolite_associations,go_classifications,subcellular_locations,gene_properties,protein_properties,genbank_protein_id,uniprot_name,pdb_ids,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id,general_references,metabolite_references
0,NaN,NaN,NT5E,Involved in hydrolase activity,Hydrolyzes extracellular nucleotides into memb...,NaN,NaN,NaN,NaN,NaN,NaN,23897.0,5NTD_HUMAN,NaN,X55740,NT5E,NT5E,HGNC:8021,NaN,NaN
1,NaN,NaN,DCTD,Involved in zinc ion binding,Supplies the nucleotide substrate for thymidyl...,NaN,NaN,NaN,NaN,NaN,NaN,61742819.0,DCTD_HUMAN,NaN,NM_001921.2,DCTD,DCTD,HGNC:2710,NaN,NaN
2,NaN,NaN,CMPK1,Involved in ATP binding,Catalyzes specific phosphoryl transfer from AT...,NaN,NaN,NaN,NaN,NaN,NaN,33150592.0,KCY_HUMAN,NaN,AF087865,CMPK1,CMPK1,HGNC:18170,NaN,NaN
3,NaN,NaN,NT5C1B,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,NaN,NaN,NaN,NaN,NaN,NaN,50593110.0,5NT1B_HUMAN,NaN,NM_001002006.2,NT5C1B,NT5C1B,HGNC:17818,NaN,NaN
4,NaN,NaN,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,NaN,NaN,NaN,NaN,NaN,NaN,12659324.0,5NT1A_HUMAN,NaN,AF331801,NT5C1A,NT5C1A,HGNC:17819,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5697,NaN,NaN,CHRNA6,Involved in acetylcholine receptor activity,"After binding acetylcholine, the AChR responds...",NaN,NaN,NaN,NaN,NaN,NaN,1458118.0,ACHA6_HUMAN,NaN,U62435,CHRNA6,None,GNC:15963,NaN,NaN
5698,NaN,NaN,HTR3D,Involved in transmembrane transport,This is one of the several different receptors...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5HT3D_HUMAN,NaN,None,None,None,None,NaN,NaN
5699,NaN,NaN,HTR3C,Involved in transmembrane transport,This is one of the several different receptors...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5HT3C_HUMAN,NaN,None,None,None,None,NaN,NaN
5700,NaN,NaN,HTR3E,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5HT3E_HUMAN,NaN,None,None,None,None,NaN,NaN
5701,NaN,NaN,SULT1A3,sulfotransferase activity,Sulfotransferase that utilizes 3'-phospho-5'-a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST1A3_HUMAN,NaN,None,None,None,HGNC:11455,NaN,NaN

In [13]:
print(len(null_cols_))
display(null_cols_)

20

['secondary_accessions',
 'synonyms',
 'gene_name',
 'general_function',
 'specific_function',
 'pathways',
 'metabolite_associations',
 'go_classifications',
 'subcellular_locations',
 'gene_properties',
 'protein_properties',
 'genbank_protein_id',
 'uniprot_name',
 'pdb_ids',
 'genbank_gene_id',
 'genecard_id',
 'geneatlas_id',
 'hgnc_id',
 'general_references',
 'metabolite_references']

## Clean Data

In [122]:
data=df.drop(null_cols,axis=1) # remove the null cols

In [123]:
data.head()

,version,creation_date,update_date,accession,protein_type,gene_name,general_function,specific_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
0,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00001,Unknown,NT5E,Involved in hydrolase activity,NaN,23897,P21589,5NTD_HUMAN,X55740,NT5E,NT5E,HGNC:8021
1,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:30:53 UTC,HMDBP00002,Unknown,DCTD,Involved in zinc ion binding,NaN,61742819,P32321,DCTD_HUMAN,NM_001921.2,DCTD,DCTD,HGNC:2710
2,4.0,2013-01-16 01:48:37 UTC,2017-12-20 20:31:24 UTC,HMDBP00003,Unknown,CMPK1,Involved in ATP binding,NaN,33150592,P30085,KCY_HUMAN,AF087865,CMPK1,CMPK1,HGNC:18170
3,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00004,Unknown,NT5C1B,Involved in nucleotide binding,NaN,50593110,Q96P26,5NT1B_HUMAN,NM_001002006.2,NT5C1B,NT5C1B,HGNC:17818
4,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00005,Unknown,NT5C1A,Involved in nucleotide binding,NaN,12659324,Q9BXI3,5NT1A_HUMAN,AF331801,NT5C1A,NT5C1A,HGNC:17819

In [16]:
data[data['hgnc_id']=="HGNC:17819"]

,version,creation_date,update_date,accession,protein_type,gene_name,general_function,specific_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
4,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00005,Unknown,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,12659324.0,Q9BXI3,5NT1A_HUMAN,AF331801,NT5C1A,NT5C1A,HGNC:17819

In [17]:
def gene_search(search_id):
    display(data[data['hgnc_id']=="%s"%search_id].head())
    
gene_search("HGNC:17819")

,version,creation_date,update_date,accession,protein_type,gene_name,general_function,specific_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
4,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00005,Unknown,NT5C1A,Involved in nucleotide binding,Dephosphorylates the 5' and 2'(3')-phosphates ...,12659324.0,Q9BXI3,5NT1A_HUMAN,AF331801,NT5C1A,NT5C1A,HGNC:17819

In [18]:
data['hgnc_id'].unique

<bound method Series.unique of 0        HGNC:8021
1        HGNC:2710
2       HGNC:18170
3       HGNC:17818
4       HGNC:17819
           ...
5697     GNC:15963
5698          None
5699          None
5700          None
5701    HGNC:11455
Name: hgnc_id, Length: 5702, dtype: object>

In [19]:
data.columns

Index(['version', 'creation_date', 'update_date', 'accession', 'protein_type',
       'gene_name', 'general_function', 'specific_function',
       'genbank_protein_id', 'uniprot_id', 'uniprot_name', 'genbank_gene_id',
       'genecard_id', 'geneatlas_id', 'hgnc_id'],
      dtype='object')

## Associations  
`subject/object/predicate`

In [55]:
data.columns.values

array(['version', 'creation_date', 'update_date', 'accession',
       'protein_type', 'gene_name', 'general_function',
       'genbank_protein_id', 'uniprot_id', 'uniprot_name',
       'genbank_gene_id', 'genecard_id', 'geneatlas_id', 'hgnc_id'],
      dtype=object)

In [125]:
data.tail()

,version,creation_date,update_date,accession,protein_type,gene_name,general_function,specific_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
5697,4.0,2015-06-18 21:34:16 UTC,2017-12-08 07:10:32 UTC,HMDBP12053,Unknown,CHRNA6,Involved in acetylcholine receptor activity,"After binding acetylcholine, the AChR responds...",1458118,Q15825,ACHA6_HUMAN,U62435,CHRNA6,None,GNC:15963
5698,4.0,2015-06-18 21:34:16 UTC,2017-12-08 07:10:32 UTC,HMDBP12054,Unknown,HTR3D,Involved in transmembrane transport,This is one of the several different receptors...,None,Q70Z44,5HT3D_HUMAN,None,None,None,None
5699,4.0,2015-06-18 21:34:17 UTC,2017-12-08 07:10:32 UTC,HMDBP12055,Unknown,HTR3C,Involved in transmembrane transport,This is one of the several different receptors...,None,Q8WXA8,5HT3C_HUMAN,None,None,None,None
5700,4.0,2015-06-18 21:46:37 UTC,2017-12-08 07:10:32 UTC,HMDBP12056,Unknown,HTR3E,None,None,None,A5X5Y0,5HT3E_HUMAN,None,None,None,None
5701,4.0,2017-09-20 01:51:15 UTC,2017-12-08 07:10:32 UTC,HMDBP12057,Enzyme,SULT1A3,sulfotransferase activity,Sulfotransferase that utilizes 3'-phospho-5'-a...,None,P0DMM9,ST1A3_HUMAN,None,None,None,HGNC:11455

In [63]:
data[data['genbank_protein_id']== '23897']

,version,creation_date,update_date,accession,protein_type,gene_name,general_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
0,4.0,2013-01-16 01:48:37 UTC,2017-12-08 07:09:13 UTC,HMDBP00001,Unknown,NT5E,Involved in hydrolase activity,23897,P21589,5NTD_HUMAN,X55740,NT5E,NT5E,HGNC:8021

In [58]:
data.describe()

,version,creation_date,update_date,accession,protein_type,gene_name,general_function,genbank_protein_id,uniprot_id,uniprot_name,genbank_gene_id,genecard_id,geneatlas_id,hgnc_id
count,15,15,15,15,15,15,15,12,15,15,15,15,14,15
unique,1,4,7,15,2,15,11,12,15,15,15,15,14,15
top,4.0,2013-01-16 01:48:38 UTC,2017-12-08 07:09:13 UTC,HMDBP00001,Unknown,NT5E,Involved in ATP binding,23897,P21589,5NTD_HUMAN,X55740,NT5E,NT5E,HGNC:8021
freq,15,6,7,1,9,1,2,1,1,1,1,1,1,1

## Building `Association` Parser   
"association"-style API, where each document describes a triple (subject/object/predicate).

In [126]:
len(data['genbank_protein_id'].unique())

4610

In [175]:
# Build Parser 
def load_hmdb_data(data):
    results = {}
    # loop through our data rows and simply pass the row 
    data=data.to_dict(orient='records')
    for rec in data[:4]:
        id_= rec['genbank_protein_id'] # set id column
        #id_= str(id_)
        rec = dict_convert(rec,keyfn=process_key)
        # remove NaN values, not indexable
        rec = dict_sweep(rec,vals=[np.nan])
        results.setdefault(id_,[]).append(rec)
        
    for _id, docs in results.items():
        print(_id)
        doc = { "_id":_id,
                "association": docs }
        print(doc)
        #yield doc

In [176]:
def load_testcase():
    results=load_hmdb_data(data)
    #print(next(results))
load_testcase()

23897
{'_id': '23897', 'association': [{'version': '4.0', 'creation_date': '2013-01-16 01:48:37 UTC', 'update_date': '2017-12-08 07:09:13 UTC', 'accession': 'HMDBP00001', 'protein_type': 'Unknown', 'gene_name': 'NT5E', 'general_function': 'Involved in hydrolase activity', 'genbank_protein_id': '23897', 'uniprot_id': 'P21589', 'uniprot_name': '5NTD_HUMAN', 'genbank_gene_id': 'X55740', 'genecard_id': 'NT5E', 'geneatlas_id': 'NT5E', 'hgnc_id': 'HGNC:8021'}]}
61742819
{'_id': '61742819', 'association': [{'version': '4.0', 'creation_date': '2013-01-16 01:48:37 UTC', 'update_date': '2017-12-20 20:30:53 UTC', 'accession': 'HMDBP00002', 'protein_type': 'Unknown', 'gene_name': 'DCTD', 'general_function': 'Involved in zinc ion binding', 'genbank_protein_id': '61742819', 'uniprot_id': 'P32321', 'uniprot_name': 'DCTD_HUMAN', 'genbank_gene_id': 'NM_001921.2', 'genecard_id': 'DCTD', 'geneatlas_id': 'DCTD', 'hgnc_id': 'HGNC:2710'}]}
33150592
{'_id': '33150592', 'association': [{'version': '4.0', 'creation_date': '2013-01-16 01:48:37 UTC', 'update_date': '2017-12-20 20:31:24 UTC', 'accession': 'HMDBP00003', 'protein_type': 'Unknown', 'gene_name': 'CMPK1', 'general_function': 'Involved in ATP binding', 'genbank_protein_id': '33150592', 'uniprot_id': 'P30085', 'uniprot_name': 'KCY_HUMAN', 'genbank_gene_id': 'AF087865', 'genecard_id': 'CMPK1', 'geneatlas_id': 'CMPK1', 'hgnc_id': 'HGNC:18170'}]}
50593110
{'_id': '50593110', 'association': [{'version': '4.0', 'creation_date': '2013-01-16 01:48:37 UTC', 'update_date': '2017-12-08 07:09:13 UTC', 'accession': 'HMDBP00004', 'protein_type': 'Unknown', 'gene_name': 'NT5C1B', 'general_function': 'Involved in nucleotide binding', 'genbank_protein_id': '50593110', 'uniprot_id': 'Q96P26', 'uniprot_name': '5NT1B_HUMAN', 'genbank_gene_id': 'NM_001002006.2', 'genecard_id': 'NT5C1B', 'geneatlas_id': 'NT5C1B', 'hgnc_id': 'HGNC:17818'}]}

## Test API

In [177]:
import requests

In [184]:
r=requests.get("http://localhost:8000/metadata")
print(r.content.decode("utf-8"))

{"biothing_type": "gene", "build_date": "2021-09-20T20:49:53.171856", "build_version": "20210920", "src": {"HMDB": {"stats": {"HMDB": 4}, "version": "2020-09-08"}}, "stats": {"total": 4}}

In [182]:
# method to search Biothings API  
def test_query(query_input):
    # run user query
    query="http://localhost:8000/query?q=%s"%query_input
    r=requests.get(query)
    print("\n[INFO] query for %s: \n"%query_input, r.content.decode("utf-8"))

In [183]:
#"ZDB-GENE-041114-199", "1311391", "WBGene00011502", "FBgn0260795"
test_query('23897')

[INFO] query for 23897:
 {"took": 15, "total": 1, "max_score": 0.2876821, "hits": [{"_id": "23897", "_score": 0.2876821, "association": [{"accession": "HMDBP00001", "creation_date": "2013-01-16 01:48:37 UTC", "genbank_gene_id": "X55740", "genbank_protein_id": "23897", "gene_name": "NT5E", "geneatlas_id": "NT5E", "genecard_id": "NT5E", "general_function": "Involved in hydrolase activity", "hgnc_id": "HGNC:8021", "protein_type": "Unknown", "uniprot_id": "P21589", "uniprot_name": "5NTD_HUMAN", "update_date": "2017-12-08 07:09:13 UTC", "version": "4.0"}]}]}

---

## BioThings Client `mygene.info`

In [148]:
from biothings_client import get_client
gene_client = get_client('gene') 
type(gene_client)

biothings_client.MyGeneInfo

In [153]:
 gene_client.getgene('23897').keys()

dict_keys(['MGI', '_id', '_version', 'accession', 'alias', 'ensembl', 'entrezgene', 'exons', 'exons_mm9', 'generif', 'genomic_pos', 'genomic_pos_mm9', 'go', 'homologene', 'interpro', 'ipi', 'map_location', 'name', 'other_names', 'pantherdb', 'reagent', 'refseq', 'reporter', 'symbol', 'taxid', 'type_of_gene', 'unigene', 'uniprot'])

In [160]:
 gene_client.getgene('61742819', fields='_id, symbol,name') # '23897'

{'_id': '61742819',
 '_version': 1,
 'name': 'alpha/beta hydrolase',
 'symbol': 'C6X95_RS11625'}

---