# Testing package `bioconductor-metaboliteIDmapping`

In [2]:
import rpy2.robjects as robjects
import pandas as pd
import rpy2.robjects as ro
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri

from rpy2.robjects.conversion import localconverter
#robjects.r('install.packages("BiocManager", '
 #          'repos="http://cran.r-project.org")')


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
#robjects.r('BiocManager::install("metaboliteIDmapping")')

In [33]:
robjects.r('library(metaboliteIDmapping)')

<rpy2.robjects.vectors.StrVector object at 0x7f88f9dd8d80> [RTYPES.STRSXP]
R classes: ('character',)
['metaboli..., 'tools', 'stats', 'graphics', ..., 'utils', 'datasets', 'methods', 'base']

In [6]:
metaMap=importr("metaboliteIDmapping")

R[write to console]: snapshotDate(): 2021-05-18

R[write to console]: loading from cache

In [7]:
type(metaMap)

rpy2.robjects.packages.InstalledSTPackage

In [19]:
type(metaMap.metabolitesMapping)

rpy2.robjects.vectors.DataFrame

In [8]:
metaMap.metabolitesMapping

<rpy2.robjects.vectors.DataFrame object at 0x7fae8085db80> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
  CAS: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae808598c0> [RTYPES.STRSXP]
R classes: ('character',)
['18523-69..., '75-05-8', '65734-38..., '520-45-6', ..., '77172-80..., '77172-80..., '133-89-1', NA_character_]
  DTXSID: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae80859c80> [RTYPES.STRSXP]
R classes: ('character',)
['DTXSID20..., 'DTXSID70..., 'DTXSID60..., 'DTXSID60..., ..., NA_character_, NA_character_, 'DTXSID00..., NA_character_]
  DTXCID: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae60349300> [RTYPES.STRSXP]
R classes: ('character',)
['DTXCID808', 'DTXCID909', 'DTXCID50..., 'DTXCID90..., ..., NA_character_, NA_character_, 'DTXCID80..., NA_character_]
  SID: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae60349200> [RTYPES.STRSXP]
R classes: ('character',)
['315671030', '315671031', '315671033', '315671035', ..., NA_character_, NA_character_, NA_character_, NA_character_]
...
  KEGG: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae60349b00> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '38472', NA_character_, '137426', ..., '166759', '167579', '167608', '64645']
  ChEBI: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae60349e40> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, 'HMDB0061..., NA_character_, NA_character_, ..., 'HMDB0010..., 'HMDB0010..., 'HMDB0000..., NA_character_]
  HMDB: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae6034c100> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, NA_character_, NA_character_, NA_character_, ..., NA_character_, NA_character_, 'DB01861', NA_character_]
  Drugbank: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7fae6034c480> [RTYPES.STRSXP]
R classes: ('character',)
['Acetone[..., 'Acetonit..., "N'-Acety..., 'Dehydroa..., ..., 'Cholesta..., 'Cholesta..., 'Uridine ..., NA_character_]

In [22]:
list(metaMap.metabolitesMapping.colnames)

['CAS',
 'DTXSID',
 'DTXCID',
 'SID',
 'CID',
 'KEGG',
 'ChEBI',
 'HMDB',
 'Drugbank',
 'Name']

In [27]:
type(metaMap.metabolitesMapping)

rpy2.robjects.vectors.DataFrame

In [30]:
metaMap.metabolitesMapping

<rpy2.robjects.vectors.DataFrame object at 0x7f88e87797c0> [RTYPES.VECSXP]
R classes: ('tbl_df', 'tbl', 'data.frame')
[StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe...]
  CAS: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f88d8301340> [RTYPES.STRSXP]
R classes: ('character',)
['18523-69..., '75-05-8', '65734-38..., '520-45-6', ..., '77172-80..., '77172-80..., '133-89-1', NA_character_]
  DTXSID: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f88d8312180> [RTYPES.STRSXP]
R classes: ('character',)
['DTXSID20..., 'DTXSID70..., 'DTXSID60..., 'DTXSID60..., ..., NA_character_, NA_character_, 'DTXSID00..., NA_character_]
  DTXCID: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f88f93d7b40> [RTYPES.STRSXP]
R classes: ('character',)
['DTXCID808', 'DTXCID909', 'DTXCID50..., 'DTXCID90..., ..., NA_character_, NA_character_, 'DTXCID80..., NA_character_]
  SID: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f887b472b80> [RTYPES.STRSXP]
R classes: ('character',)
['315671030', '315671031', '315671033', '315671035', ..., NA_character_, NA_character_, NA_character_, NA_character_]
...
  KEGG: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f887b472800> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, '38472', NA_character_, '137426', ..., '166759', '167579', '167608', '64645']
  ChEBI: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f887b475800> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, 'HMDB0061..., NA_character_, NA_character_, ..., 'HMDB0010..., 'HMDB0010..., 'HMDB0000..., NA_character_]
  HMDB: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f887b475900> [RTYPES.STRSXP]
R classes: ('character',)
[NA_character_, NA_character_, NA_character_, NA_character_, ..., NA_character_, NA_character_, 'DB01861', NA_character_]
  Drugbank: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x7f887b4752c0> [RTYPES.STRSXP]
R classes: ('character',)
['Acetone[..., 'Acetonit..., "N'-Acety..., 'Dehydroa..., ..., 'Cholesta..., 'Cholesta..., 'Uridine ..., NA_character_]

In [37]:
with localconverter(ro.default_converter + pandas2ri.converter):
  pd_from_r_df = ro.conversion.rpy2py(metaMap.metabolitesMapping)

pd_from_r_df

,CAS,DTXSID,DTXCID,SID,CID,KEGG,ChEBI,HMDB,Drugbank,Name
1,18523-69-8,DTXSID2020008,DTXCID808,315671030,4415524,None,None,None,None,Acetone[4-(5-nitro-2-furyl)-2-thiazolyl] hydra...
2,75-05-8,DTXSID7020009,DTXCID909,315671031,6342,None,38472,HMDB0061869,None,Acetonitrile
3,65734-38-5,DTXSID6020012,DTXCID5012,315671033,107949,None,None,None,None,N'-Acetyl-4-(hydroxymethyl) phenylhydrazine
4,520-45-6,DTXSID6020014,DTXCID9014,315671035,122903,None,137426,None,None,Dehydroacetic acid
5,114-83-0,DTXSID1020015,DTXCID1015,315671036,8247,None,None,None,None,1-Acetyl-2-phenylhydrazine
...,...,...,...,...,...,...,...,...,...,...
1012263,20562-03-2,None,None,None,442971,C10796,10219,HMDB0240575,None,Α-chaconine
1012264,77172-80-6,None,None,None,42622727,C03033,166759,HMDB0010355,None,"Cholestane-3,7,12,25-tetrol-3-glucuronide"
1012265,77172-80-6,None,None,None,42622727,C03033,167579,HMDB0010355,None,"Cholestane-3,7,12,25-tetrol-3-glucuronide"
1012266,133-89-1,DTXSID00157902,DTXCID8080393,None,8629,C00029,167608,HMDB0000286,DB01861,Uridine diphosphate glucose
1012267,None,None,None,None,None,C16515,64645,None,None,None

In [39]:
pd_from_r_df.head()

,CAS,DTXSID,DTXCID,SID,CID,KEGG,ChEBI,HMDB,Drugbank,Name
1,18523-69-8,DTXSID2020008,DTXCID808,315671030,4415524,None,None,None,None,Acetone[4-(5-nitro-2-furyl)-2-thiazolyl] hydra...
2,75-05-8,DTXSID7020009,DTXCID909,315671031,6342,None,38472,HMDB0061869,None,Acetonitrile
3,65734-38-5,DTXSID6020012,DTXCID5012,315671033,107949,None,None,None,None,N'-Acetyl-4-(hydroxymethyl) phenylhydrazine
4,520-45-6,DTXSID6020014,DTXCID9014,315671035,122903,None,137426,None,None,Dehydroacetic acid
5,114-83-0,DTXSID1020015,DTXCID1015,315671036,8247,None,None,None,None,1-Acetyl-2-phenylhydrazine

In [43]:
pd_from_r_df['HMDB']

1                 None
2          HMDB0061869
3                 None
4                 None
5                 None
              ...
1012263    HMDB0240575
1012264    HMDB0010355
1012265    HMDB0010355
1012266    HMDB0000286
1012267           None
Name: HMDB, Length: 1012267, dtype: object

In [44]:
pd_from_r_df.columns

Index(['CAS', 'DTXSID', 'DTXCID', 'SID', 'CID', 'KEGG', 'ChEBI', 'HMDB',
       'Drugbank', 'Name'],
      dtype='object')

In [ ]:
 with localconverter(ro.default_converter + pandas2ri.converter):
  mapID_df= ro.conversion.rpy2py(metaMap.metabolitesMapping)

 mapID_df.to_csv("/Users/nacosta/Documents/hmdb_proteins_mapping.csv")
 mapID_df.head()

---